.report-manager {
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.report-table {
  margin: auto;
  min-width: 200px;
  max-width: 550px;
}
